.card {
  position: absolute;
  height: 573px;
  width: 550px;
  height: 325px;
  border-radius: 20px;
  margin-left: 31%;
  margin-top: 8%;
}

.content {
  margin-inline: 60px;
  margin-top: 35px;
}

.header {
  color: #0a1d37;
  text-align: center;
}

.body {
  margin-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .card {
    width: fit-content;
    margin-left: 20px;
    margin-top: 70px;
  }
  .content {
    margin-inline: 10px;
    margin-top: 35px;
  }
}

/* -------------------------------- Buttons -------------------------- */

.align {
  margin-top: 3rem;
  text-align: right;
}

.delete {
  cursor: pointer;
  background: #df7861;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin-left: 20px;
  font-family: "Nunito";
  border-color: #df7861;

  color: #000000;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.delete Button:hover,
.delete Button:active {
  background: #df7861;
}

.cancel {
  cursor: pointer;
  background: #fbf8f1;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 100px;
  font-family: "Nunito";
  border-color: #fbf8f1;

  color: #000000;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.cancel Button:hover,
.cancel Button:active {
  background: #df7861;
}
