.card {
  position: absolute;
  height: 573px;
  width: 900px;
  height: 460px;
  border-radius: 20px;
  margin-left: 20%;
  margin-top: 8%;
}

.form {
  margin-inline: 60px;
 margin-top: 40px;
}

.header {
  color: #0a1d37;
  text-align: center;
}

.control {
  margin-top: 30px;
} 

.label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.textbox {
  border-radius: 10px;
  white-space: pre-wrap;
}

/* -------------------------------- Buttons -------------------------- */

.align {
  margin-top: 3rem;
  text-align: right;
}

.save {
  cursor: pointer;
  background: #df7861;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin-left: 20px;
  font-family: "Nunito";
  border-color: #df7861;

  color: #000000;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.save Button:hover,
.save Button:active {
  background: #df7861;
}

.cancel {
  cursor: pointer;
  background: #fbf8f1;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 100px;
  font-family: "Nunito";
  border-color: #fbf8f1;

  color: #000000;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.cancel Button:hover,
.cancel Button:active {
  background: #df7861;
}
